@import "../layout/header.css";
@import "../layout/footer.css";
@import "../components/buttons.css";
@import "../components/class-utilities.css";
@import "../layout/grid-system.css";
@import "../abstracts/variables.css";


body 
{
  font-family: var(--ff-normal);
}

.hero-header
{
  padding: 6rem;
  display: grid;
  grid-gap: 4rem;
  grid-template-rows: 4rem auto 2rem;
  background-color: var(--clr-secondary-bkg-gray);
}


.intro {
  text-align: center;
  padding: 50px 20px;
  background-color: #f1f1f1;
}

.intro h1 {
  color: #003580;
}

.intro p {
  max-width: 800px;
  margin: 20px auto;
}

.intro .services-button {
  background-color: var(--clr-primary-yellow);
  border: none;
  padding: 15px 30px;
  cursor: pointer;
  color: #003580;
}
