
@import "../abstracts/variables.css";
@import "../layout/header.css";
@import "../layout/footer.css";
@import "../layout/grid-template.css";
@import "../components/buttons.css";
@import "../components/class-utilities.css";
@import "../layout/grid-system.css";


body 
{
  font-family: var(--ff-normal);
}

/*
.hero-header
{
  padding: 6rem;
  display: grid;
  grid-gap: 4rem;
  width: 100%;
  justify-items: center;
  grid-template-rows: repeat(3, auto-fit);

  background-color: var(--clr-secondary-bkg-gray);

  color: var(--clr-primary-dark-blue); 
}
*/

.hero-header__title
{
  max-width: 764px;

  text-align: center;
  font-size: var(--fs-h1);
  font-weight: var(--fw-light);
}

.hero-header__desc
{
  text-align: center;
  font-size: var(--fs-normal);
}

.services {
  padding: 50px 20px;
  text-align: center;
  color: var(--clr-primary-dark-blue);
}

.services h2 {
  color: var(--clr-primary-dark-blue);
  text-align: center;
}

.services-grid {
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(3, minmax(120px, 1fr));
  gap: 4rem;
  margin: 20px;
  padding: 30px;
}

.service {
  background-color: var(--clr-primary-yellow);
  padding: 30px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.service:hover {
  background-color: #c3b823;
}

.service:active{
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
  rotate: 10deg;
}

.service {
  border: 1px solid black;
  border-radius: 10px;
  max-width: 16rem;
  overflow: hidden;
  background-color: --clr-primary-yellow;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: stretch;
}

.service .image img {
  width: auto;
  height: auto;
  display: block;
}

.service .title {
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
  color: black;
}

/* Responsive Design */
@media screen and (max-width: 1024px) {
  .services-grid {
      grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  .services-grid {
      grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 425px) {
  .services-grid {
      grid-template-columns: 1fr;
  }
}
