@import "../abstracts/variables.css";



footer
{
  border: 1px solid;
  padding: 32px 0;
  display: flex;
  flex-wrap: wrap;
  color: var(--clr-secondary-bkg-white);
  background: var(--clr-primary-dark-blue);
  
}

/* footer .blue-part
{
  background-color: var(--clr-primardark-blue);
  border: 1px solid green;
  position: relative;
  height: 350px;
  width: 100%;
  padding:20px 0; 
   
  
} */


.footer__left-part,
.footer__right-part
{
  min-width: 400px;
  width: 50%;
  padding:1rem 2rem;
}

.footer__socials-links
{
  display: flex;
  gap: 1rem;
}
 .footer__left-part
{
 display: flex;
 flex-direction: column;
 gap: 2rem;
 align-items: center;
 border-right: 1px solid var(--clr-secondary-bkg-white);
}

.footer__droits-auteur
{
  border-top:1px solid var(--clr-secondary-bkg-white);
  text-align: center;
  width: 100%;
  padding: 2rem 0;
}

.footer__contact-desc
{
  font-size: var(--fs-normal);
  text-align: center;
  padding: 2rem 0;
  border-bottom: 1px solid var(--clr-secondary-bkg-white);
}

.footer__contact
{
  display: flex;
  padding: 10px;
  justify-content: space-between;
}

.footer__contact-data
{
  width:20rem;
}

 




