@import "../abstracts/variables.css";


.service-form
{

  padding: 2rem;
  margin: 4rem auto;
  max-width: 800px;
}

.service-form__title
{
  margin: 2rem 0;
  text-align: center;
}

.service-form__form
{
  padding: 2rem;
  border: 1px solid var(--clr-secondary-bkg-gray);
}

.service__radio-container-title
{
  margin-bottom: 1rem;
}
.service__radio-btn-container
{
  display: flex;
  gap: 2rem;
}

.form-group
{
  display: flex;
  gap: 1rem;
  margin: 2rem 0;
  flex-direction: column;
}

.service-form__input
{
  height: 3rem;
  padding: 0.5rem;
  border-radius: 4px;
  border: 2px solid var(--clr-secondary-bkg-gray);
}


.service-form__textarea
{
  height: 8rem;
  resize: none;
}