@import "../abstracts/variables.css";


footer
{
  border: 1px solid;
  padding: 32px 0;
  display: flex;
  flex-wrap: wrap;

  background: var(--clr-primary-dark-blue);
  border-top: 1.5rem solid var(--clr-primary-yellow);
  border-bottom: 1.5rem solid var(--clr-primary-yellow);

  color: var(--clr-secondary-bkg-white);
}

.footer__left-part,
.footer__right-part
{
  width: 50%;
  min-width: 300px;
  padding:1rem 2rem;
}

.footer__socials-links
{
  display: flex;
  gap: 1rem;
}

.footer__left-part
{
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;

  border-right: 1px solid var(--clr-secondary-bkg-white);
}

.footer__droits-auteur
{
  width: 100%;
  padding: 2rem 0;

  text-align: center;

  border-top:1px solid var(--clr-secondary-bkg-white);
}

.footer__contact-desc
{
  font-size: var(--fs-normal);
  padding: 2rem 0;

  text-align: center;

  border-bottom: 1px solid var(--clr-secondary-bkg-white);
}

.footer__contact
{
  display: flex;
  padding: 10px;
  justify-content: space-between;
}

.footer__contact-data
{
  width: 20rem;
}






/********************************************\
*             RESPONSIVE - footer            *
\********************************************/
@media screen and (max-width: 938px) 
{
  .footer__left-part,
  .footer__right-part
  {
    width: 100%;
  }

  .footer__left-part
  {
   border-right: none;
  }

  .footer__droits-auteur
  {
    padding-bottom: 0rem;
  }

  .footer__contact-desc
  {
    padding-top: 0rem;
  } 
}




