
.grid-template
{
  --responsive-padding: clamp(2.5rem, 0.5rem + 5vw, 6rem);
  --responsive-gap: clamp(2.5rem, 0.5rem + 5vw, 4rem);

  padding: var(--responsive-padding);
  display: grid;
  min-width: 16rem;

  grid-gap: var(--responsive-gap);
  width: 100%;
  justify-items: center;
  grid-template-rows: repeat(3, auto-fit);

  background-color: var(--clr-secondary-bkg-gray);

  color: var(--clr-primary-dark-blue);
}


.hero-header__title
{
  max-width: 764px;

  text-align: center;
  font-size: var(--fs-h1);
  font-weight: var(--fw-light);
}

.hero-header__desc
{
  text-align: center;
  font-size: var(--fs-normal);
}