
@import "../abstracts/variables.css";
@import "../layout/header.css";
@import "../layout/footer.css";
@import "../layout/grid-template.css";
@import "../components/buttons.css";
@import "../components/class-utilities.css";
@import "../layout/grid-system.css";


body 
{
  font-family: var(--ff-normal);
}





/********************************************\
*          Code of the services box          *
\********************************************/
.services
{
  padding: 48px 20px;
  margin:6rem 0;
  display: flex;
  gap: 2rem;
  align-items: center;
  flex-direction: column;
}

.services > *
{
  text-align: center;
}

.services-container
{
  display: grid;
  gap: 2rem;
  max-width: 1000px;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(156px, 300px));
}

.services__service-box
{
  width: minmax(256px, 270px);

  text-align: center;
  
  background-color: var(--clr-primary-yellow);

  cursor: pointer;
  transition: all 0.5s;
}

.services__service-box:hover
{
  background-color: var(--clr-primary-yellow);
}

.services__service-box:active
{
  box-shadow: 0px 3px 3px var(--clr-secondary-shadow);
  rotate: 10deg;
}

.services__service-box
{
  max-width: 16rem;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: stretch;

  border: 1px solid var(--clr-primary-dark);
  border-radius: 10px;

  text-align: center;

  overflow: hidden;
  box-shadow: 0 4px 8px var(--clr-secondary-shadow);
}

.services__service-box-title
{
  padding: 1rem 0;

  font-size: 20px;
  font-weight: var(--fw-semibold);
  color: var(--clr-primary-dark-blue);
}