:root
{
  /*-----------------SYSTEM COLORS----------------*/
  --clr-primary-dark-blue: #202D65;
  --clr-primary-yellow: #DBD022;

  --clr-secondary-bkg-gray: #D9D9D9;
  --clr-secondary-bkg-white: #fff;

  /*-----------------SYSTEM FONTS----------------*/ 
  --ff-normal: "Poppins";

  --fs-normal: 24px;
  --fs-h1: 48px;
  --fs-h2: 32px;
  --fs-small: 20px;

  --fw-800: 800;
  --fw-light: 300;
  --fw-medium: 500;
  --fw-regular: regular;
}