.link
{
    text-decoration: none;
    color: var(--clr-primary-dark-blue);
}

.link-active
{
    font-weight: var(--fw-semibold);
    text-decoration: solid;
}

.link--white
{
  color: var(--clr-secondary-bkg-white);
}

.fw-300
{
    font-weight: var(--fw-light);
}

.fw-500
{
    font-weight: var(--fw-medium);
}

.fw-600
{
    font-weight: var(--fw-semibold);
}

.fs-h3
{
    font-size: var(--fs-small);
}

.appear
{
  opacity: 1!important;
}