.link
{
    text-decoration: none;
    color: var(--clr-primary-dark-blue);
}

.fw-300
{
    font-weight: var(--fw-light);
}

.fw-500
{
    font-weight: var(--fw-medium);
}

.fw-600
{
    font-weight: var(--fw-semibold);
}

.link-active
{
    font-weight: var(--fw-semibold);
    text-decoration: solid;
}

.appear
{
  opacity: 1!important;
}